@import url(../styles/vars.styles.css);
@import url(../styles/palettes.styles.css);
@import url(../styles/gaps.styles.css);
@import url(../styles/spaces.styles.css);
@import url(../styles/typography.styles.css);

html,
body {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--gss100);
  font-weight: 500;
  width: 100vw;
  background-color: var(--color900);
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  box-sizing: border-box;
}
