:root {
  --color100: #fdf9f9;
  --color200: #e1e0e0;
  --color300: #cbcaca;
  --color400: #acaaaa;
  --color500: #959494; 
  --color600: #797979;
  --color700: #5e5d5d;
  --color800: #434242;
  --color900: #101010;

  --neu-col100: #db3651;
  --neu-col200: #3936db;
  --neu-col300: #36db4a;
  --neu-col400: #db9d36;
}
